<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TitanServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8855/metadata" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="TitanServiceBehavior" name="KeepAlive.KnockService">
        <endpoint address="http://localhost:8855" binding="basicHttpBinding" contract="KeepAlive.Contract.IKeepAlive" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
